# Ignorar pastas comuns
exemplos-casos-de-testes
HTML_Locators
results
infos

# Ignorar arquivos específicos
*.log
interactive_console_output.xml
.vscode
launch.json

# Ignorar arquivos de compilação
*.exe
*.dll
*.class